<div class="card mx-auto shadow-sm" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Sección publicitaria</h5>
		<p class="card-text">
			{{inputFirstName}}, estudia la carrera de informática en la EPIIS - UNAMBA, Abancay
		</p>
		<a href="https://unamba.edu.pe" target="_blank" class="btn btn-primary">Ver más</a>
		<hr>
		<button type="button" class="btn btn-secondary" (click)="saveSuscribe('plan 01')">Suscribirme plan 01</button>
		<hr>
		<button type="button" class="btn btn-secondary" (click)="saveSuscribe('plan 02')">Suscribirme plan 02</button>
	</div>
</div>